<% include partials/header %>
<h2>Register</h2>
<form action="/users/register" method="POST">
  <input type="name" name="name" placeholder="Add Name" />
  <input type="email" name="email" placeholder="Add Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" />
</form>
<% include partials/footer %>